#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
character-set-server=utf8
user=mysql
datadir=/var/lib/mysql
port=3306
max_connections=1000
default-storage-engine=InnoDB
log_bin=mysql-bin
max_binlog_size=1M
expire_logs_days=5

# slow query
slow_query_log=ON
long_query_time=1
log_slow_queries=slow.log
#slow_query_log_file=/var/lib/mysql/slow.log
# インデックスを使用していないクエリを記録
#long_queries_not_using_indexes=ON
#long_output=TABLE

# InnoDB関連
# InnoDBのデータ領域をメモリ上に管理するためのバッファサイズ
# 物理メモリサイズの60~80%が目安
# 単位MB
innodb_buffer_pool_size=16M
# redoログのサイズ
innodb_log_file_size=2M
# データとログの読み書き方式を指定
#innodb_flush_method

# this is only for embedded server
[embedded]

# This group is only read by MariaDB-5.5 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mysqld-5.5]

# These two groups are only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

[mariadb-5.5]

